<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gift — Javier Arce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/form.css" />

    <meta name="author" content="Javier Arce" />
    <meta name="description" content="Book giveaway" />
    <link rel='shortcut icon' href="/favicon.ico">

    <script>window.isLoggedIn = <%= isLoggedIn %></script>

    <% if (isDevelopment) { -%>
    <script src="/js/base.js"></script>
    <script src="/js/User.js"></script>
    <script src="/js/Spinner.js"></script>
    <script src="/js/App.js"></script>
    <script src="/js/client.js"></script>
    <% } else { -%>
    <script src="/js/dist/all.js"></script>
    <% } -%>
    <script async defer data-domain="gift.javierarce.com" src="https://stats.javierarce.com/js/plausible.js"></script>
  </head>
  <body>

    <div class="App js-app">
      <div class="Cover js-cover">
        <a href="https://hundredrabbits.itch.io/busy-doing-nothing" class="Kindle" target="_blank"></a>
      </div>
      <div class="Content js-content">
        <a href="https://twitter.com/javier/" class="Credits" style="display: none;">What is this?</div>
      </div>
    </div>
  </body>
</html>
