/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --dark: #111111;
  --gray: #ccc;
  --black: #000;
  --text: #fff;
  --background: #fff;
}

sub, sup {
  font-size: 70%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

strong {
  font-weight: bold;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-size: 1.4em;
  line-height: 145%;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  color: var(--text);
  background: var(--background);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: font-size 200ms ease-in-out;
}

p {
  line-height: 145%;
}

a {
  color: var(--text);
  font-weight: 500;
  transition: color 200ms ease-in-out;
}

.App.is-empty .Users {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.Placeholder {
  color: var(--gray);

  opacity: 0;
  transform: scale(0.8);
  transition: all 500ms ease-in-out;
  transition-delay: 500ms;
}

.Thanks {
  position: absolute;
  bottom: 2.4em;
  width: 100%;
  min-width: 400px;
  text-align: center;
}

.Login {
  position: absolute;
  bottom: 3em;
  width: 100%;
  min-width: 400px;
  text-align: center;
}

.Login__link {
  opacity: 0;
  transform: scale(0.8);
  transition: all 500ms ease-in-out;
  transition-delay: 500ms;
}

.App.is-loaded .Login__link,
.App.is-loaded .Placeholder {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.Users {
  position: relative;
  display: grid;
  padding: 2em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(9, 1fr);
  margin: 0 auto auto auto;
}

.User {
  width: 100px;
  height: 100px;
  text-align: center;
}

.Avatar.is-visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.Avatar:hover {
  transform: scale(0.9);
}

.Avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0) rotate(-90deg);
  transition: all 200ms ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.Spinner {
  position: absolute;
  display: none;
  border-top: 3px solid var(--gray);
  border-right: 3px solid var(--gray);
  border-bottom: 3px solid var(--gray);
  border-left: 3px solid var(--text);
  animation: spinner 0.8s infinite linear;
}


.Spinner.is-visible {
  display: block;
}

.Spinner, .Spinner:after {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cover {
  position: relative;
  background: var(--black);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.App.is-loaded .Kindle {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.Kindle {
  display: block;
  background: url(/img/kindle.png) no-repeat;
  width: calc(1005px/2.4);
  height: calc(1431px/2.4);
  background-size: cover;
  background-position: 50%;
  text-decoration: none;

  opacity: 0;
  transform: scale(0.8);
  transition: all 500ms ease-in-out;
}

.Credits {
  color: var(--black);
  font-size: 0.7em;
  position: absolute;
  bottom: 1em;
  right: 2em;
}
